#header {
  display: flex;
  justify-content: space-between;
  height: 30pt;
  padding: 8pt 16pt;
  background-color: var(--bg-variant);

  cursor: default;

  h2 {
    margin: 0;
  }

  #settings {
    z-index: 5;

    position: absolute;
    top: 30pt;
    right: 0pt;
    background-color: var(--bg-variant);
    /* border: 1px solid var(--border); */
    border-radius: 4pt;
    padding: 8pt;

    display: flex;
    flex-direction: column;
    gap: 4pt;

    div {
      padding: 4pt 8pt;
      border-radius: 4pt;
      cursor: pointer;

      &:hover {
        background-color: var(--bg-hover);
      }
    }
  }
}
