#header {
  display: flex;
  justify-content: space-between;
  padding: 8pt 16pt;
  background-color: var(--bg-variant);

  h2 {
    margin: 0;
  }
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200pt;
}

#pet {
  position: relative;

  width: 150pt;
  height: 150pt;
  background-color: var(--primary-color);
  border-radius: 16pt;
}
